#section-hear-from-our-mentor {
  @include set-default-section($white);
  > .section-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    @include set-desktop-margin();
    @include media('<=1332px') {
      margin-left: 16px;
      margin-right: 16px;
    }

    @include media('<=tablet') {
      @include set-tablet-margin();
    }

    > h2 {
      color: $main-black;
      text-align: center;
    }
  }
}
