.profile-image-container {
  width: 6rem;
  height: 6rem;
  overflow: hidden;

  &.circle {
    border-radius: 50%;
  }

  &.border-white {
    border: 3px solid $white;
  }
  &.border-yellow {
    border: 3px solid $yellow;
  }

  &.auto-resize {
    @include media('<=tablet') {
      width: 3.639rem;
      height: 3.639rem;
    }
  }

  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
