.progress-rating-star-container {
  box-sizing: border-box;
  display: flex;

  position: relative;
  background-color: $lynch-empty;
  > .rating-bg {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    border: none;
    display: inline-block;

    &::-webkit-progress-value {
      background-color: $yellow-primary;
    }

    &::-moz-progress-bar {
      background-color: $yellow-primary;
    }
  }

  > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.star-frame-color-yellow-secondary {
      fill: $yellow-secondary;
    }
    &.star-frame-color-white-primary {
      fill: $white;
    }
  }
}
