{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false
}