@mixin logo-default-size() {
  width: 20.7rem;
}

@mixin circle-large-for-background($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 50%;
}

@mixin breakpoint($point) {
  @if $point == md {
    // 768px

    @media (min-width: 48em) {
      @content;
    }
  }
}
