@mixin logo-default-size() {
  width: 20.7rem;
  height: 3.6rem;
}

@mixin circle-large-for-background($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 50%;
}

@mixin base-star() {
  width: 14px;
  height: 13px;
  @include media('<=tablet') {
    width: 8px;
    height: 8px;
  }
}
