// main theme
$main-black: #12141d; // text

$white: #ffffff; // text
$very-light-gray: #fafafa; // background
$very-light-gray-1: #eae9f2;
$very-light-gray-2: #f6f9fa;
$very-light-gray-3: #e5e7eb;

$gray-primary: #1f2937;
$gray-secondary: #6b7280;

$pink: #ff8181;
$maroon-primary: #b9005b; // default
$maroon-secondary: #9d034f; // hover
$light-pink: #f8f1f4;

// sub color i.e. navba, research, sub content
$dark-blue-0: #183b56;
$dark-blue-1: #5a7184; // text
$dark-blue-2: #5b7486;
$dark-gray-blue-0: #374151;
$dary-gray-blue-1: #52525b;
$dark-gray-blue-2: #6b7280; // text
$light-gray-blue-0: #d1d5db;
$light-gray-blue-1: #f9fafb;
$light-gray-blue-2: #e4e4e7;
$light-gray-blue-3: #e8e7e8;

$arrow: #64626a;

// badge
$bright-blue: #2563eb; // link
$blue: #1e40af;
$ligth-blue: #dbeafe; // background
$dark-green: #065f46;
$light-green: #d1fae5; // background

// object
$yellow: #facc15;
$yellow-1: #ffc947;

$section-1-height-desktop: 78.8rem;
