// main theme
$main-black: #12141d; // text

$white: #ffffff; // text
$very-light-gray: #fafafa; // background

$gray-primary: #1f2937;
$gray-secondary: #6b7280;

$maroon-primary: #b9005b; // default
$maroon-secondary: #9d034f; // hover
$light-pink: #f8f1f4;

// sub color i.e. navba, research, sub content
$dark-blue-0: #183b56;
$dark-blue-1: #5a7184; // text
$dark-gray-blue-0: #374151;
$dary-gray-blue-1: #52525b;
$dark-gray-blue-2: #6b7280; // text
$light-gray-blue-0: #d1d5db;
$light-gray-blue-1: #f9fafb;
$light-gray-blue-2: #e4e4e7;

// badge
$bright-blue: #2563eb; // link
$blue: #1e40af;
$ligth-blue: #dbeafe; // background
$dark-green: #065f46;
$light-green: #d1fae5; // background

// object
$yellow: #facc15;
