.checking-item {
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  border: 1px solid $very-light-gray-1;
  border-radius: 5px;

  > div {
    background-color: $light-pink;
    // background-color: gold;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      fill: $maroon-primary;
    }
  }
  > p {
    text-align: center;
  }
}
