.section-selling-point {
  margin-top: 8.65rem;
  background-color: white;
  min-height: 56.3rem;

  @include media('<=tablet') {
    margin: 3.8rem 0 0;
    height: auto;
  }
  > .image-container {
    // border: 1px solid blue;
    min-width: 48.6rem;
    margin-top: -48rem;
    @include media('<=tablet') {
      margin-top: -10.3rem;
    }

    .section-bg {
      object-fit: contain;
      @include media('<=tablet') {
        width: 100%;
      }
    }
  }
  > .content-container {
    position: relative;

    @include media('<=tablet') {
    }
    > .selling-point-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 84.1rem;
      margin: 2.3rem auto;
      @include media('<=tablet') {
        max-width: 100%;
        margin: 0 1.6rem;
      }
      > h1 {
        text-align: center;
        line-height: 5.8rem;
        margin-bottom: 2.4rem;
        @include media('<=tablet') {
          line-height: 120%;
          font-size: 3.2rem;
        }
      }
      > p {
        max-width: 62.4rem;
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 2.2rem;
        @include media('<=tablet') {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
          letter-spacing: -0.025em;
        }
      }
      // > button {
      //   display: flex;
      //   align-items: center;
      //   gap: 1.125rem;
      //   padding: 1.6rem 2.7rem;
      //   font-size: 1.6rem;
      //   @include media('<=tablet') {
      //     gap: 1.025rem;
      //     padding: 1.3rem 1.6rem;
      //     font-size: 1.4rem;
      //   }
      // }
      .reviews {
        margin-top: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media('<=tablet') {
          flex-direction: column;
          gap: 8px;
        }

        > .happy-mentees {
          margin-right: 2.044rem;
          @include media('<=tablet') {
            margin-left: 0;
          }
        }
        > .score-container {
          display: flex;

          @include media('<=tablet') {
            div {
              align-items: center;
              .title {
                font-size: 1.8rem;
                line-height: 2.5rem;
                letter-spacing: -0.60124px;
              }
            }
          }
          .score-title {
            @include media('<=tablet') {
              font-size: 1rem;
              line-height: 14px;
            }
          }
          > hr {
            box-sizing: border-box;
            width: 2px;
            background-color: $main-black;
            height: 3.9rem;
            border: 1px solid #12141d;
            opacity: 0.08;
            margin-right: 2.7rem;
            margin-left: 4.2rem;
            @include media('<=tablet') {
              margin-right: 1.2rem;
              margin-left: 1.2rem;
            }
          }

          .rating {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            > p {
              margin-left: 0.7rem;
            }

            > .star-fill {
              fill: $yellow-1;
              @include base-star();
            }
            > .star-empty {
              fill: $dark-blue-2;
              opacity: 0.3;
              @include base-star();
            }
          }
        }
      }
    }
  }
}
