.section-unique-selling-point {
  display: flex;
  height: 38.5rem;
  align-items: center;
  gap: 12.8rem;
  margin-left: 24rem;
  margin-right: 24rem;

  @include media('<=tablet') {
    flex-direction: column;
    gap: 3.2rem;
    height: auto;
    margin: 3.2rem 1.6rem;
  }

  .usp {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.6rem;
      background-color: $very-light-gray;
      // background-color: rgb(142, 148, 148);

      margin-bottom: 1.8rem;
      .usp-icon {
        fill: $maroon-primary;
      }
    }
    > h3 {
      color: $main-black;
      letter-spacing: -0.025em;
    }
    > p {
      width: 28.8rem;
      margin-top: 1.2rem;
      text-align: center;
      opacity: 0.7;
      color: $main-black;
    }
  }
}
