.mentee-review {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media('<=tablet') {
    align-items: center;
  }

  p {
    @include media('<=tablet') {
      text-align: center;
    }
  }
  > .review {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $main-black;

    @include media('<=tablet') {
      font-size: 1.6rem;
      line-height: 150%;
      color: $gray-secondary;
    }
  }
  > div {
    > .name {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin-bottom: 0.5rem;
    }
    > .occupation {
      // font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }
}
