@mixin main-button() {
  cursor: pointer;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  border: 1px solid #dedede;
  color: #fff;
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--secondary-color);
}

button {
  @include main-button();

  &.sub {
    color: var(--primary-color);
    background-color: #fff;
  }
  &.sub:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  &.default {
    color: var(--font-base-color);
    background-color: #fff;
  }
  &.default:hover {
    color: #fff;
    background-color: var(--secondary-color);
  }
}
