body {
  font-family: $inter-font;
  color: $gray-primary;
  box-sizing: border-box;

  width: 1600px;
}
h1,
h2,
h3 {
  font-family: $font-jakata;
}
h1 {
  font-weight: 700;
  font-size: 48px;
}
h2,
h3 {
  font-weight: 500;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $bright-blue;
}
