nav {
  display: flex;
  align-items: center;

  .logo {
    margin: 32.5px auto 32px 128px;
    @include logo-default-size();
  }

  .menu-container {
    display: flex;
    gap: 45px;
    margin-left: auto;
    margin-right: 128px;
    align-items: center;
    .nav-link {
      color: $dark-blue-0;
    }
  }
}
