nav {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--nav-color);
  padding: 8px 12px;

  .logo {
    max-width: 420px;
    max-height: 40px;
    width: 200px;
  }
  .active {
    color: gray;
  }
  a {
    text-decoration: none;
    color: black;
    padding: 0 6px;
  }
  a:hover {
    font-weight: 600;
  }

  .nav-link {
    display: flex;
  }
  .nav-link:after {
    content: ' ';
    margin-left: 5px;
    border: 3px solid var(--primary-color);
    display: block;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    height: 0.625em;

    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
  }
  div {
    margin-left: auto;
    margin-right: 0;
    align-self: center;
  }

  .login-btn {
    margin-right: 12px;
  }
}
